<div class="center">
    <div class="card" style="width: 20rem;" *ngIf="!loading">
        <img src="{{product?.image}}" class="card-img-top" alt="{{product?.title}}">
        <div class="card-body">
            <h5 class="card-title">{{product?.title | uppercase}}</h5>
            <h6>{{product?.price | currency}}</h6>
            <p class="card-text">{{product?.description}}</p>
        </div>
    </div>
</div>

<ng-container *ngIf="!loading">

    <p>Product: {{product?.title}}</p>
    <p [ngStyle]="{'color': cheap}">Price: {{product?.price | currency}}</p>
    <p *ngIf="product?.description">Descripción:{{product?.description}}</p>

</ng-container>

<ng-container *ngIf="loading"><i>LOADING INFO ... </i></ng-container>