<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsList">
        <th scope="row">{{product.id}}</th>
        <td [ngStyle]="{'background-color': product.color}">{{product.name}}</td>
        <td [ngClass]="{'low-price': product.price < 30}">{{product.price | currency}}</td>
        <td class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-primary"
          [routerLink]="['/products', product.color, product.id]">Ver</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>